/*-- scss:defaults --*/

// Colors
$dark-green: #06402b;
$cream: #f3efe8;
$teal: #529b9c;
$light-green: #9cba8f;
$dusty-yellow: #eac392;

// Base document colors
$navbar-bg: $light-green;
$navbar-fg: $cream;
$navbar-hl: $dusty-yellow;
$body-bg: $cream;
$body-color: $dark-green;
$footer-bg: $light-green; 
$link-color: $teal;